body{
  background-color: #C4AF96;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.symboldiv {
  -webkit-animation: rotating 180s linear infinite;
  -moz-animation: rotating 180s linear infinite;
  -ms-animation: rotating 180s linear infinite;
  animation: rotating 180s linear infinite;

}

img.mother_symbol{
  position: fixed;
  /*Rotate circles*/
  -webkit-animation: rotating 60s linear infinite running;
  -moz-animation: rotating 60s linear infinite running;
  animation: rotating 60s linear infinite running;
  -ms-animation: rotating 60s linear infinite running;
  /*ZoomInOut*/
  /*-webkit-animation: zoomInOut 5s linear infinite alternate running;
  -moz-animation: zoomInOut 5s linear infinite alternate running;
  animation: zoomInOut 5s linear infinite alternate running;
  -ms-animation: zoomInOut 5s linear infinite alternate running;*/
}

/*Zoom in out*/
@-webkit-keyframes zoomInOut {
  from {-webkit-transform: scale(1,1); }
  to {-webkit-transform: scale(0.5,0.5);}
}
@-moz-keyframes zoomInOut {
  from {-moz-transform: scale(1,1);}
  to {-moz-transform: scale(0.5,0.5);}
}
@keyframes zoomInOut {
  from {transform: scale(1,1);}
  to {transform: scale(0.5,0.5);}
}
@-ms-keyframes zoomInOut {
  from {-ms-transform: scale(1,1);}
  to {-ms-transform: scale(0.5,0.5);}
}

/*Rotating Circles*/
@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotating {
  from{
    -moz-transform: rotate(0deg);
  }
  to{
    -moz-transform: rotate(360deg);
  }
}
@keyframes rotating {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@-ms-keyframes rotating {
  from{
    -ms-transform: rotate(0deg);
  }
  to{
    -ms-transform: rotate(360deg);
  }
}
